<div class="mat-table-padding">
    <mat-progress-bar class="mat-progress" color="warn" mode="indeterminate" *ngIf="isLoading">
    </mat-progress-bar>
    <div class="shadow-div">
      <div class="header-of-table" mat-header>
  
        <div class="search-div" >
          <img src="../../../../../assets/img/search-icon-asc.svg" style="cursor: pointer;"> &nbsp;
          <input class="search-input" type="text" placeholder="Search" />
        </div>
  
        <div><span>10</span></div>
      </div>
  <!-- table here  -->
    </div>
  
  </div>