.mat-table-padding {
  margin: 10px;
  padding: 10px;
  .shadow-div {
    .header-of-table {
      margin: 0px;
      padding: 30px;
      background: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 767px) {
        padding: 30px 0;
        justify-content: space-around;
      }
      .search-div {
        margin-bottom: 2%;
        position: relative;
        svg {
          position: absolute;
          margin: 10px;
        }
        input {
          padding: 8px 28px;
          border: 1px solid #d9d9d9;
          outline: none;
          &:focus {
            border: 1px solid #1890ff;
            outline: none;
          }
          @media (max-width: 767px) {
            padding: 8px 10px 8px 28px;
          }
        }
      }
      .connected-clients{
        color: #8C8C8C;
        font-size: 15px;
        span{
          color: #1890ff;
        }
      }
    }
    .table {
      @media (max-width: 515px) {
        overflow-x: scroll;
        width: auto;
        height: auto;
      }
      td {
        @media (max-width: 515px) {
          padding: 10px;
        }
      }
    }
    ::ng-deep .mat-paginator-container {
      justify-content: space-between !important;
      flex-wrap: wrap !important;
      padding: 10px 12px !important;
      .mat-paginator-page-size{
        .mat-paginator-page-size-label{
          font-size: 16px;
          margin-left: 12px;
        }
        .mat-form-field{
          .mat-form-field-wrapper{
            .mat-form-field-flex{
              .mat-form-field-infix{
                .mat-select{
                  .mat-select-trigger{
                    .mat-select-value{
                      span{
                        color: #1890ff;
                        font-size: 15px;                      }
                    }
                    .mat-select-arrow-wrapper{
                      .mat-select-arrow{
                        color: #1890ff;
                      }
                    }
                  }
                }
              }
            }
            .mat-form-field-underline{
              background-color: #1890ff;
            }
          }
        }
      }
      .mat-paginator-range-actions {
        .mat-paginator-range-label {
          order: 2;
          font-size: 16px;
          margin: 0 12px;
        }
        .mat-paginator-navigation-previous {
          order: 1;
        }
        .mat-paginator-navigation-next {
          order: 3;
        }
        button {
          cursor: pointer;
          .mat-button-wrapper {
            border: 2px solid #1890ff;
            border-radius: 50%;
            padding: 5px 0 7px;
            svg {
              color: #1890ff !important;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
}

.leftArrowBack {
  position: absolute;
  top: 50px;
  display: contents;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  &:hover {
    border-bottom: 3px solid #000000;
  }
  span {
    font-size: 20px;
    text-transform: capitalize;
    color: #262626;
  }
}

.leftArrowBack .menu-buttons {
  text-align-last: auto;
  z-index: 10;
  margin-bottom: -4px;
  width: 121px;
  height: 40px;
  border: 1px solid #1890ff;
  background: #1890ff;
  color: white;
}
