<div style="margin-top: 49px;" class="dema" >
    <mat-tab-group selectedIndex="0" (selectedTabChange)="changeTab($event)"  >
      <mat-tab label="Certificate" class="myTab">
        <Lw-certificate *ngIf="tabIndex === 0" style="background-color: green;"></Lw-certificate>      
      </mat-tab>
      <mat-tab label="Public Key">
        <Lw-publicKey *ngIf="tabIndex === 1"></Lw-publicKey>
      </mat-tab>
      <mat-tab label="Client Security Configuration">
        <Lw-clientSecurityConfig *ngIf="tabIndex === 2"></Lw-clientSecurityConfig>
      </mat-tab>
    </mat-tab-group>
  </div> 