.myDiv {
    background-color: white;
    border-radius: 8px;
    border-color: black;
    text-align: center;
    height: 800px;
    display: block;
    margin-left: 2cm;
    margin-right: 2cm;
    margin-top: 24px;
    margin-bottom: 2cm;
    

  }
  .myDiv2 {
      color: rgba(89,89,89,1);
      padding-left: 1em;
      padding-top: 1em;
      padding-bottom: 8em;
      text-align: start;
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: 600;
      font-size: 23px;
      line-height: 28px;


  }
  .donut-inner {
    margin-top: -170px;
    margin-bottom: 100px;
 }
 .donut-inner h5 {
    margin-bottom: 5px;
    margin-top: 0;
 }
 .donut-inner span {
    font-size: 12px;
 }
 
  