<div class="mat-table-padding">
    <div class="shadow-div">
      <div class="header-of-table" mat-header>
        <div>
          <p class="headerStyle">Public Key <span style="color: #8C8C8C; font-size: 14px; font-weight: lighter;">(SubjectPublicKeyInfo der encoded)</span></p>
        </div>
        <div>
          <!-- <button (click)="downloadCSV()" class="downloadCSV" mat-stroked-button>Download</button> -->
          <button class="downloadCSV" mat-stroked-button>Download</button>
        </div>
      </div>
      <div class="table">
        <table>
          <thead>
            <tr>
              <th>Key:</th>
              <th>Value:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Elliptic Curve parameters</th>
              <td *ngIf="datacertificate">{{datacertificate.certificate.pubkey.params}}</td>
            </tr>
            <tr>
              <th>Public x coord</th>
              <td *ngIf="datacertificate">{{datacertificate.certificate.pubkey.x}}</td>
            </tr>
            <tr>
              <th>Public y coord</th>
              <td *ngIf="datacertificate">{{datacertificate.certificate.pubkey.y}}</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="tests">
        <div class="test">
          <ng-container *ngIf="hexCode" >
            <label class="label" mat-header>Hex</label>
            <textarea matInput class="textArea" readonly id="text1"> {{hexCode}}</textarea>
          </ng-container>
        </div>
        <div class="test">
          <ng-container *ngIf="datacertificate" >
            <label class="label" mat-header>Base64</label>
            <textarea matInput class="textArea" readonly > {{datacertificate.certificate.pubkey.b64Der}}</textarea>
          </ng-container>
        </div>
      </div>
      <p>
        Clients generally need it for X509 authentication.
      </p>
    </div>
</div>
