<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="presetData" #userData="ngModelGroup">
          <div class="form-group">
            <mat-form-field appearance="standard">
              <mat-label for="username">Name</mat-label>
              <input matInput type="text" id="name" class="form-control" ngModel name="name">
            </mat-form-field>
          </div>
          <div class="form-group">
            <label for="channel">channel</label>
            <mat-form-field appearance="standard">
              <mat-label>default</mat-label>
              <input matInput type="text" id="channel" class="form-control" ngModel name="channel">
            </mat-form-field>
          </div>
          <div class="form-group">
            <label for="channel">weight</label>
            <mat-form-field appearance="standard">
              <mat-label>0</mat-label>
              <input matInput type="text" id="channel" class="form-control" ngModel name="weight">
            </mat-form-field>
          </div>

          <div class="form-group">
            <label for="schedule">Schedule</label>
            <mat-form-field appearance="standard">
              <mat-label>Input</mat-label>
              <input matInput type="text" id="schedule" class="form-control" ngModel name="schedule">
            </mat-form-field>
          </div>

          <div class="form-group">
            <label for="event">Events</label>
            <mat-form-field appearance="standard">
              <mat-label>Input</mat-label>
              <input matInput type="text" id="event" class="form-control" ngModel name="event">
            </mat-form-field>
          </div>

          <div class="form-group">
            <label for="event">provision</label>
            <mat-form-field appearance="standard">
              <mat-label>Input</mat-label>
              <mat-select id="provision" class="form-control" name="provision" >
                <mat-option value="option">Option</mat-option>
                <mat-option value="option">Option</mat-option>
                <mat-option value="option">Option</mat-option>
                <mat-option value="option">Option</mat-option>
                <mat-option value="option">Option</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <label for="precondition">precondition</label>
            <mat-form-field appearance="standard">
              <mat-label>Text field placeholder</mat-label>
              <textarea matInput type="text" id="precondition" class="form-control" ngModel
                name="precondition"></textarea>
            </mat-form-field>
          </div>

          <div class="form-group">
            <label for="precondition">Arguments</label>
            <mat-form-field appearance="standard">
              <mat-label>Text field placeholder</mat-label>
              <textarea matInput type="text" id="arguments" class="form-control" ngModel name="Arguments"></textarea>
            </mat-form-field>
          </div>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <h3>Your Data</h3>
      <p>Username: {{ presetsData.name }}</p>
      <p>Mail: {{ user.email }}</p>
      <p>Secret Question: Your first {{ user.secretQuestion }}</p>
      <p>Answer: {{ user.answer }}</p>
      <p>Gender: {{ user.gender }}</p>
    </div>
  </div>
</div>