.mat-table-padding {
  margin: 10px;
  padding: 10px;
  mat-progress-bar {
    z-index: 10;
    margin-bottom: -4px;
    width: 100%;
  }
  .faultsContainer {
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
    .faultsHeader {
      margin: 0px;
      padding: 33px;
      width: 100%;
      text-align-last: end;
      background: white;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 767px) {
        justify-content: center !important;
      }
      .searchContainer {
        width: 50%;
        @media (max-width: 767px) {
          width: 100%;
          text-align: center;
          margin-bottom: 2%;
        }
        .search {
          text-align-last: auto;
          position: relative;
          svg {
            position: absolute;
            margin: 10px;
          }
          input {
            padding: 8px 28px;
            border: 1px solid #d9d9d9;
            outline: none;
            &:focus {
              border: 1px solid #1890ff;
              outline: none;
            }
          }
        }
      }
      .buttons {
        width: 50%;
        @media (max-width: 767px) {
          text-align: center;
        }
        button {
          border: 1px solid #1890ff;
          background: #ffffff;
          text-align-last: auto;
          color: #1890ff;
          margin: 1%;
          &.red {
            border: 1px solid #eb4224;
            color: #eb4224;
          }
        }
      }
    }
    .table {
      width: 100%;
      td {
        @media (max-width: 800px) {
          padding: 0 1%;
        }
      }
      @media (max-width: 800px) {
        overflow-x: scroll;
        height: auto;
        width: auto;
      }
    }
  }
}
