<div class="mat-table-padding">

  <div class="shadow-div">
    <div class="header-of-table" mat-header>
      <div class="select-container">

        <span>Response Timeout </span>
        <mat-form-field appearance="legacy" class="mat-field">
          <mat-label>Select timeout</mat-label>
          <mat-select [(value)]="selectedTime">

            <mat-option value="5">5s</mat-option>
            <mat-option value="300">5min</mat-option>
            <mat-option value="900">15min</mat-option>
            <mat-option value="1800">30min</mat-option>
            <mat-option value="no">No</mat-option>
          </mat-select>
        </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp;


        <span>Multi-value</span>
        <mat-form-field appearance="legacy" class="mat-field">
          <mat-label>Select value</mat-label>
          <mat-select [(value)]="selectedMulti">

            <mat-option value="TLV">TLV</mat-option>
            <mat-option value="SENML_JSON">SENML_JSON</mat-option>
            <mat-option value="SENML_CBOR">SENML_CBOR</mat-option>
            <mat-option value="JSON">JSON</mat-option>
          </mat-select>
        </mat-form-field> &nbsp; &nbsp; &nbsp; &nbsp;

        <span>Single-value</span>
        <mat-form-field appearance="legacy" class="mat-field">
          <mat-label>Select value</mat-label>
          <mat-select [(value)]="selectedSingle">

            <mat-option value="TLV">TLV</mat-option>
            <mat-option value="CBOR">CBOR</mat-option>
            <mat-option value="SENML_JSON">SENML_JSON</mat-option>
            <mat-option value="SENML_CBOR">SENML_CBOR</mat-option>
            <mat-option value="JSON">JSON</mat-option>
            <mat-option value="Text">Text</mat-option>
            <mat-option value="Opaque">Opaque</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

    </div>

  <div class="accord" style="padding-top: 170px;background-color: white;">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let item of dataSource;index as i;">
        <mat-expansion-panel-header style="background-color: #F5F5F5;">
          <mat-panel-title style="width: 40px;">
            {{item['name']}}
          </mat-panel-title>
          <mat-panel-description>
            /{{item['id']}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <Lw-clients-data-model-table *ngIf="dataSource && col ==0" [dataModel]='dataSource[i]' [instanceObject]='clientByEndpoint' [instanceNumber]='instanceNumber' [timeOut]="selectedTime" [format]="selectedSingle"></Lw-clients-data-model-table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  </div>

</div>
