.mat-table-padding{
    margin: 10px;
    padding: 10px;
}


.shadow-div{
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.header-of-table{
  margin: 0px;
  padding: 33px;
  width: 100%;
  float: right;
  text-align-last: end;
  background: white;
}


.between-btn-download{
    width:15px; 
    height:auto; 
    display:inline-block;
}

 .textArea{
    width: 45%;
    height: 310px;
    margin-left: 2em;
    margin-right: 2em;
    display:inline-block;
    background-color: #F5F5F5;
    margin-bottom: 2em;
    border-radius: 6px;
    color: #BFBFBF;
    font-style: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    align-items: flex-end;
    border: 1px solid #D9D9D9;


 }
 .label1 {
    display: block;
    margin-left: 2em;
    padding-bottom: 10px;

}
.label2{
    padding-bottom: 2em;
    margin-left: 50em;
    position: absolute;
    top: 104px;
    color: #262626;
    left: 49px;
    line-height: 22px;

}
.headerStyle{
    display: inline-block;
    font-size: 16px;
    position: absolute;
    line-height: 24px;
    font-weight: 600;
    left: 53px;
    color: #595959;
    top: 40px;
}
.downloadCSV{
    color: #1890FF;
    right: 35px;
    size: 5em;
}
// ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
//    }
::ng-deep.mat-tab-label-container .sada{
    background-color: beige !important;
    margin-left: 20px !important;
    margin-right: 20px !important;
}