<div class="mat-table-padding" style="border-radius: 8px; padding-top: 0px;margin-top: 1px;" >
    <div class="shadow-div" style="background-color: white; border-radius: 8px; padding: 0; margin: 0;">
        <div class="header-of-table" mat-header style="border-radius: 8px;">
            <p class="headerStyle">Certificate <span style="color: #8C8C8C; font-size: 14px; font-weight: lighter;">(x509v3 der encoded)</span></p>
            <button (click)="downloadCSV()" class="downloadCSV" mat-stroked-button style="border-color: #1890FF;">Download</button>
        </div>

        <label class="label1" mat-header>Hex</label>
        <label class="label2" mat-header>Base64</label>

        <ng-container *ngIf="hexCode" >
            <textarea matInput class="textArea" readonly id="text1"> {{hexCode}}</textarea> 
        </ng-container>

        <ng-container *ngIf="datacertificate" >
            <textarea matInput class="textArea" readonly > {{datacertificate.certificate.b64Der}}</textarea>
        </ng-container>

        <p style="font-size:14px; color: #595959; padding-left: 1em;padding-bottom: 1em;">Clients generally need it for X509 authentication.</p>

 
    </div>

</div> 