<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="provisionsForm" (ngSubmit)="onSubmit()" class="example-form">
        <div class="form-group">
          <mat-form-field appearance="standard">
            <mat-label>Name</mat-label>
            <input matInput type="text" id="provisionsName" class="form-control" name="provisionsName"
              formControlName="provisionsName" class="example-full" [readonly]='flag'>
          </mat-form-field>
        </div>

        <div class="form-group" style="width: 100%;">
          <mat-form-field appearance="standard" style="width: 100%; height: 35%;">
            <mat-label>script</mat-label>
            <textarea matInput type="text" id="script"
              class="form-control" name="script" formControlName="script" class="example-full" style="background-color: #FFF1F0;" ></textarea>
          </mat-form-field>
        </div>
        <button mat-button cdkFocusInitial type="submit" [mat-dialog-close] [disabled]="!provisionsForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>     