      <form [formGroup]="newInstanceForm" (ngSubmit)="onSubmit()">
        Create New Instance
        <br>
          <div class="form-group" style="width: 40%; display: inline-grid;margin-right: 7em;">
            <mat-form-field appearance="standard">
              <mat-label for="ID">Instance ID LwM2M Server</mat-label>
              <input matInput type="number" id="ID" class="form-control"  name="ID" formControlName="ID">
            </mat-form-field>
          </div>
          <div class="form-group" style="width: 40%; display: inline-grid;">
            <mat-form-field appearance="standard">
              <mat-label>Lifetime</mat-label>
              <input matInput type="number" id="Lifetime" class="form-control"  name="Lifetime" formControlName="Lifetime">
            </mat-form-field>
          </div>
          <div class="form-group" style="width: 40%; display: inline-grid; margin-right: 7em;">
            <mat-form-field appearance="standard">
              <mat-label>Default Minimum Period</mat-label>
              <input matInput type="number" id="DefaultMinimum" class="form-control"  name="DefaultMinimum" formControlName="DefaultMinimum">
            </mat-form-field>
          </div>
          <div class="form-group" style="width: 40%; display: inline-grid;">
            <mat-form-field appearance="standard">
              <mat-label>Default Maximum Period</mat-label>
              <input matInput type="number" id="DefaultMaximum" class="form-control"  name="DefaultMaximum" formControlName="DefaultMaximum">
            </mat-form-field>
          </div>
          <div class="form-group" style="width: 40%; display: inline-grid;margin-right: 7em;">
            <mat-form-field appearance="standard">
              <mat-label>Disable Timeout</mat-label>
              <input matInput type="number" id="DisableTimeout" class="form-control"  name="DisableTimeout" formControlName="DisableTimeout">
            </mat-form-field>
          </div>
          <div class="form-group" style="width: 40%; display: inline-grid;">
            <mat-form-field appearance="standard">
              <mat-label>Binding</mat-label>
              <input matInput type="text" id="Binding" class="form-control"  name="Binding" formControlName="Binding">
            </mat-form-field>
          </div>
          <div class="form-group" style="width: 100%; display: inline-grid;">
            <mat-form-field appearance="standard">
              <mat-label>Notification Storing When Disabled or Offline</mat-label>
              <input matInput type="text" id="Notification" class="form-control"  name="Notification" formControlName="Notification">
            </mat-form-field>
          </div>
        <br>
        <button mat-button cdkFocusInitial class="submit-button" type="submit" [mat-dialog-close] style="left: 43em;top: 2em">Create</button>
      </form>
