.submit-button{
    text-align-last: auto;
    z-index: 10; margin-bottom: -4px;
    width: 121px; 
    height: 40px; 
    border: 1px solid #1890FF; 
    background: #1890FF; 
    color: white;
}

.cancel-button{
    text-align-last: auto;
    z-index: 10; margin-bottom: -4px;
    width: 121px; 
    height: 40px; 
    // border: 1px solid #1890FF; 
    background: #536575; 
    color: white;
}
