      <form [formGroup]="newInstanceForm">
        Update Instance
        <br>
          <div class="form-group" style="width: 40%; display: inline-grid;">
            <mat-form-field appearance="standard">
              <mat-label>Lifetime</mat-label>
              <input matInput type="number" id="Lifetime" class="form-control"  name="Lifetime" formControlName="Lifetime">
            </mat-form-field>
          </div> &nbsp; &nbsp;
          <div class="form-group" style="width: 40%; display: inline-grid; margin-right: 7em;">
            <mat-form-field appearance="standard">
              <mat-label>Default Minimum Period</mat-label>
              <input matInput type="number" id="DefaultMinimum" class="form-control"  name="DefaultMinimum" formControlName="DefaultMinimum">
            </mat-form-field>
          </div> 
          <div class="form-group" style="width: 40%; display: inline-grid;">
            <mat-form-field appearance="standard">
              <mat-label>Default Maximum Period</mat-label>
              <input matInput type="number" id="DefaultMaximum" class="form-control"  name="DefaultMaximum" formControlName="DefaultMaximum">
            </mat-form-field>
          </div> &nbsp; &nbsp;
          <div class="form-group" style="width: 40%; display: inline-grid;margin-right: 7em;">
            <mat-form-field appearance="standard">
              <mat-label>Disable Timeout</mat-label>
              <input matInput type="number" id="DisableTimeout" class="form-control"  name="DisableTimeout" formControlName="DisableTimeout">
            </mat-form-field>
          </div>
          <div class="form-group" style="width: 40%; display: inline-grid;">
            <mat-form-field appearance="standard">
              <mat-label>Binding</mat-label>
              <input matInput type="text" id="Binding" class="form-control"  name="Binding" formControlName="Binding">
            </mat-form-field>
          </div>
          <div class="form-group" style="width: 100%; display: inline-grid;">
            <mat-form-field appearance="standard">
              <mat-label>Notification Storing When Disabled or Offline</mat-label>
              <input matInput type="text" id="Notification" class="form-control"  name="Notification" formControlName="Notification">
            </mat-form-field>
          </div>
        <br>
        <button mat-button cdkFocusInitial class="cancel-button" [mat-dialog-close] style="left: 23em;top: 2em">Cancel</button>
        <button mat-button cdkFocusInitial class="submit-button" type="click" (click)="onSubmit('Update')" [mat-dialog-close] style="left: 24em;top: 2em">Update</button>
        <button mat-button cdkFocusInitial class="submit-button" type="click" (click)="onSubmit('Replace')" [mat-dialog-close] style="left: 25em;top: 2em">Replace</button>

      </form>
