<div class="mat-table-padding">
  <mat-progress-bar color="warn" style="z-index: 10; margin-bottom: -4px; width: 100%;" mode="indeterminate"
    *ngIf="isLoading">
  </mat-progress-bar>
  <div class="shadow-div">
    <div mat-header class="header-of-table">
      <div class="search-div">
        <img src="../../../../../assets/img/search-icon-asc.svg" style="cursor: pointer;"> &nbsp;
        <input type="text" placeholder="Search" (keyup)="liveSearchParameter($event)" class="search-input" />
      </div>
      <button mat-button [matMenuTriggerFor]="menu" class="menu-buttons" mat-raised-button> Actions &nbsp; | &nbsp; <img
          src="../../../../../assets/img/action-arrow.svg"></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog()"> <img src="../../../../../assets/img/plus-dialog.svg"> &nbsp; New
          Config</button>
      </mat-menu>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Position Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> Config </th>
        <td mat-cell *matCellDef="let element"> {{element['_id']}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          {{element['value']}}
        </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <img src="../../../../../assets/img/write_img.svg" (click)="openDialog(element)" style="cursor: pointer;" />
          <img src="../../../../../assets/img/close-delete.svg" (click)="deleteConfig(element['_id'])"
            style="cursor: pointer;" />
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>