<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body class="w3-light-grey">

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:17%">

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical class="buttons-style" selectedIndex="0" (selectedTabChange)="changeTab($event)">
            <mat-button-toggle value="Presets" (click)="changeButton1()" class="buttons-style2"  >Presets</mat-button-toggle>
            <mat-button-toggle value="Provisions" (click)="changeButton2()"> Provisions</mat-button-toggle>
            <mat-button-toggle value="Config" (click)="changeButton3()" class="buttons-style3">Config</mat-button-toggle>
        </mat-button-toggle-group>

    </div>

    <!-- Page Content -->
    <div style="margin-left:20%" class="w3-light-grey" [ngSwitch]="changeButton">

        <admin-presets  *ngIf="changeButton === 1"></admin-presets>
        <admin-provisions  *ngIf="changeButton === 2"></admin-provisions>
        <admin-config  *ngIf="changeButton === 3"></admin-config>

    </div>

</body>

</html>