
    <!-- Sidebar -->
    <div  style="width:17%; display: inline-block;">

        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" vertical class="buttons-style" selectedIndex="0" (selectedTabChange)="changeTab($event)">
            <mat-button-toggle value="Presets" (click)="changeButton1()" class="buttons-style2"  >Presets</mat-button-toggle>
            <mat-button-toggle value="Provisions" (click)="changeButton2()"> Provisions</mat-button-toggle>
            <mat-button-toggle value="Config" (click)="changeButton3()" class="buttons-style3">Config</mat-button-toggle>
        </mat-button-toggle-group>

    </div>

    <!-- Page Content -->
    <div  [ngSwitch]="changeButton" style="width:73%; display: inline-grid; padding-left: 90px;">

        <admin-presets  *ngIf="changeButton === 1"></admin-presets>
        <admin-provisions  *ngIf="changeButton === 2"></admin-provisions>
        <admin-config  *ngIf="changeButton === 3"></admin-config>

    </div>
